body {
    background-color: #F2F5F9;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header {
    border-radius: 100% 0% 100% 0% / 0% 66% 34% 100%;
    color: white;
    background-color: #202040;
    height: 85vh;
    position: relative;
}

#mheading {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 25px;
}

#head2 {
    line-height: 0%;
    font-size: 35px;
}


.ul {
    display: flex;
    color:white;
    column-gap: 50px;
    align-items: center;
    height: 13vh;
}

.li {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    list-style-type: none;
    font-size: 14px;
    height:3.5vh;
}

.li:hover {
    color: #EA4F5D;
    cursor: pointer;
}

.active {
    color: #EA4F5D;
    cursor: pointer;
}

.hea {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 50px;
}

#button1 {
    width: 150px;
    height: 6vh;
    background-color: #202040;
    color: white;
    border-radius: 1.5rem;
    border: 2px solid rgba(255, 255, 255, 0.1);
    margin-left: 400px;
}

#button1:hover {
    background-color: #EA4F5D;
    cursor: pointer;
}

main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 68.5vh;
}

#pa {
    width: 400px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#button2 {
    display: flex;
    background-color: white;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10vh;
    column-gap: 5px;
    border-radius: 0.5rem;
}

#email {
    padding-left: 10px;
    height: 6vh;
    font-size: 15px;
    width: 50%;
    border: none;
    outline: none;
}

#button3 {
    background-color: #FF6363;
    border: none;
    border-radius: 0.5rem;
    color: white;
    width: 30%;
    height: 65%;
}

#button3:hover {
    background-color: #FF7777;
    cursor: pointer;
}

#imgs {
    justify-content: center;
    display: flex;
    margin-top: 5%;
    margin-bottom: 10%;
}

#imgs>img {
    height: 8rem;
}

#pa1 {
    color: #EA4F5D;
}

#card1 {
    text-align: center;
    margin-top: 10px;
}


#main {
    margin-bottom: 10%;
    /* display: flex; */
    /* justify-content: space-around; */

}

.pg1 {
    width: 25%;
    margin-top: 5%;
}

#m1 {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: auto;
}

.wc {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
    width: 28%;
    height: 12vh;
    background-color: white;
}

.im1 {
    width: 50%;
}

.he1 {
    margin-top: 10px;
    font-size: 20px;
}

.par1 {
    color: grey;
    font-size: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.pa2{
    margin-top: 23px;
    color:grey;

}

.pa5{
    line-height: 15px;
    color:grey;

}

.main2 {
    display: flex;
    justify-content: space-evenly;
    height:auto;
    padding: 5%;
    width: 90%;
}

.page3 {
    width: 45%;
}

.page4 {
    width: 45%;
    padding-left: 5%;

}

.img1 {
    max-width: 100%;
}

#red {
    color: #EA4F5D;
    font-weight: bold;
}

.black {
    color: grey;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 80%;
    font-size: 20px;
}

/* 
#hd1 {
    line-height: 0%;
    font-size: 35px;
    font-family:Montserrat, sans-serif;
    font-weight:900;
} */

.hd1 {
    font-size: 35px;
    font-family: Montserrat, sans-serif;
    font-weight: 900;
}

.but {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: #EA4F5D;
    height: 6vh;
    width: 25%;
    border-radius: 2rem;
}

.but:hover {
    cursor: pointer;
    background-color: #ea4f5cc4;


}

#dro {
    display: none;
}

#dro:hover {
    display: block;
}

/* 
#Dropdown {
    display: none;
}

ul:hover #Dropdown {
    display: block;
    cursor: pointer;
    background-color:white;
    color: black;
    position: fixed;
    
} */

.h{
    margin-top: 10%;
    line-height: 0%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.h2{
    margin-top: 10%;
    padding-top: 5%;
    line-height: 0%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#Main{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    height: 10vh;
    width: 100%;
}

#buM{
    width: 38%;
    height: 2vw;
    border-radius: 1rem;
    padding-top: 1%;
    padding-left: 1%;
    background-color: #EA4F5D;
}

#cur{
    width: 50%;
    height: 1.8vw;
    border-radius: 50%;
    background-color: white;
}

#Month{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 10%;

}

#Year{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 10%;
}
#save{
    background-color: #EA4F5D;
    width: 45%;
    height: 1.5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 11px;
    border-radius:1rem;       
    color: white;
}

.cur{
    height: 1vh;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}



.grey{
    color: grey;
}

.BL{
    width: 99%;
    text-align: center;
}

.line{
    border-bottom:1px solid rgb(219, 217, 217);
}

.LH{
    margin-top: 5%;
    margin-bottom: 5%;
    list-style-type:circle;
}

.cl{
    list-style-type: circle;
}

#main3{
    display: flex;
    justify-content: space-evenly;
    margin-top:5%;
}

.card2{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 27%;
    height: 70vh;
 }

 .card3{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 0.5rem;
    width: 27%;
    height: 70vh;
 }


.do{
    color: #EA4F5D;
    font-size: 30px;
}

.button2{
    background-color: #EA4F5D;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    width: 40%;
    height: 3vw;
    border: none;
    border-radius: 1.5rem;
}

.button2:hover{
    background-color: #ea4f5cb6;
    cursor: pointer;
}

#BC{
    background-color: #EBF0F6;
}

#main4{
    display: flex;
    height:70vh;
    margin-top: 5%;
    justify-content: space-around;

}

.card4{
    width: 21%;
}

.img4{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    height: 60vh;
    filter: grayscale(1);

}

.img4:hover{
    cursor: pointer;
    filter:grayscale(0);
}

.imgM{
    width: 100%;
    height: auto;
}

.grey2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: grey;
    font-size: 13px;
}
.he2{
    font-size: 17px;
}

.text{
    width: 85%;
    height: 33vh;
}
#main5{ 
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 50vh;
    width: auto;
    border-bottom: 1px solid rgb(210, 209, 209);
}

.card5{
    /* border: 2px solid; */
    height: 40vh;
    width: 30%;

}
#icons{
    display: flex;
    width: 70%;
    height: 10vh;
    /* border: 1px solid; */
    justify-content: space-between;
    align-items: center;
}

.icon{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    width: 20%;
    height: 6.5vh;
    border-radius: 25%;
    cursor: pointer;
}
.i:hover{
    color: #EA4F5D;

}
.card6{
    /* border: 4px solid; */
    width:35%;
    height: 40vh;
}
.navM{
    display: flex;
    width: 100%;
    justify-content: space-between;
    /* border: 1px solid rebeccapurple; */
}

.p3{
    line-height: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.h3{
    font-size: 20px;
}

.ul3{
    /* border: 1px solid; */
    text-align: start;
    padding-left: 0%;
    
}
li{
    height: 4.5vh;
    text-align: start;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    list-style-type: none;

}
li:hover{
    color:#EA4F5D;
    cursor: pointer;
}

#CR{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 12vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width:auto;
    margin: auto;
}

.rmM{
    width: 50%; 
    /* border: 3px solid; */
    position: absolute;
    bottom: 0%;
    right: 3%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.RM{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    width: 17%;
    height:3vh;
    border: 1px solid #EA4F5D;
    border-radius: 50%;
}

.No{
    visibility: hidden;
}

.No:hover{
    visibility:visible;
}

@media(max-width:400px){
    .li{
        display: none;
    }
    #button1{
        display: none;
    }
    header{
        /* visibility: hidden; */
        width: 1000px;
        height: 400px;
    }
    .page{
        width: 31%;
        height: 100%;
        /* border: 2px solid ; */
    }
    #imgs {
        display: flex;
        justify-content: center;
        align-items: center;
        /* border: 1px solid; */
    margin-top: 5%;
    margin-bottom: 10%;
    
margin-left: 350px;
            }

#imgs>img {
    height: 3rem;
margin-left: 100px;
}
    .hea{
        font-size: 18px;
        line-height: normal;
    }
    #pa{
        font-size: 13px;
        width: 200px;
        height: auto;
    }
    .image{
        width: 100%;
    }

    #button3{
        padding: 0%;
        width: 25%;
    }

    #card1{
        margin-left: 300px;
        width: 100%;
        /* border: 1px solid; */
    }

    #m1{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-left: 300px;
        justify-content: center;
    }

    


}
